<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>

<a href="{% url 'wd'%}">我的</a>    <a href="{% url 'logout' %}">退出</a>    <a href="{% url 'order' %}">我的订单</a><br/>   <a href="{% url 'mycart' %}">我的购物车</a> <hr/><hr/>
<a href="{% url 'recommend'%}">点击查看推荐</a> <br/>
{% if storelist %}
<a href="{% url 'homepage' 1 %}">返回</a><br/><br/>
{% endif %}
搜索:<form action="{%url 'search' %}" method="get">
        {% csrf_token %}
        <input type="text" name="keyword" placeholder="Search">
        <input type="submit" value="搜索">
</form>
<br/>
{% if storelist %}
{% for store in storelist %}
<img src="/static/store/{{store.picture}}" width="200">
<a href="{% url 'store_' store.id%}">{{store.name}}</a><br/>
{% endfor %}
{% endif %}
{% for s in list %}
<img src="/static/staff/{{s.pictere}}" width="100"><br/>
<a href="{% url 'staff' s.id%}">{{s.name}}</a>
价格{{s.price}}元<br/><hr/>
{% endfor %}
<a href="{%url 'homepage' home|add:-1 %} ">上一页</a>
        {% for p in pagelist %}
        {% if home == p %}
                <a href="{% url 'homepage' p %}" style="color:red;" >{{p}}</a>
        {%else%}
                <a href="{% url 'homepage' p  %}">{{p}}</a>
        {%endif%}
        {%endfor%}
        <a href="{%url 'homepage' home|add:1  %}">下一页</a>
        <br/><div>当前为第{{home}}页</div>
</body>
</html>