<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'homepage' 1 %}">主页</a>   <a href="{% url 'wd'%}">我的</a>    <a href="{% url 'logout' %}">退出</a>    <a href="{% url 'order' %}">我的订单</a><br/>   <a href="{% url 'mycart' %}">我的购物车</a> <hr/><hr/><br/>
<img src="/static/staff/{{staff.pictere}}" width="200"><br/>
价格：{{staff.price   }}   剩余数量：{{staff.number}}<br/>
<img src="/static/store/{{store.picture}}" width="100">&nbsp;&nbsp;<a href="{% url 'store_' store.id %}">{{store.name}}</a><br/>
评论:<br/>
{% for e in elist %}
{{e.username}}:{{e.expression}}&nbsp;&nbsp;{{e.addtime}}
{% if e.userid == uid %}
<a href="{% url 'dell_' e.id%}">删除</a>
{% endif %}
<br/>
{% if e.status == 1 %}
{% for r in rlist %}
{% if r.expressionid == e.id %}
&nbsp;&nbsp;<b>{{r.seller}}(卖家)</b>回复{{r.username}}：{{r.reply}}&nbsp;&nbsp;{{r.addtime}}<br/>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
<form action="{% url 'expression' staff.id %}" method="post">
    {% csrf_token %}
    <textarea cols="100" rows="10" name="expression"></textarea><br/>
    <input type="submit" value="提交">
</form>
简介:{{m.message|safe}}
<a href="{% url 'buy' staff.id %}">购买</a>    <a href="{% url 'incart' staff.id%}">加入购物车</a>
</body>
</html>